.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #535353;
  color: white;
}
.menu{
  display: flex;
}
.menu li{
  list-style: none;
  margin-left: 10px;
}
